<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no";/>
<meta name="application-name" content="JavaScript Quizzes"/>
<meta name="author" content="Hayden Bradfield"/>
<meta name="description" content="Test yourself by taking JavaScript Quizzes"/>
<meta name="keywords" content="JavaScript, javascript, programming, quizzes, tests"/>
<title>JavaScript Quizzes | <%= title %>%></title>
<script src="https://kit.fontawesome.com/4f18e4f9dd.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen"/>
