<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body class="main-page-body">
        <!-- Header -->
        <%- include('./partials/header.ejs') %>
        <!-- End Header -->
        <!-- Navigation -->
        <%- include('./partials/nav.ejs') %>
        <!-- End Navigation -->
        <div class="container">
            <div class="hero">
                <div class="hero__content">
                     <h1 class="heading-text">
                        <div class="heading-text--primary">JavaScript <i class="fa fa-code"></i></div>
                        <div class="heading-text--secondary">Quizzes</div>
                    </h1>
                    <a class="heading-btn" href="/user/register">Get Started</a>
                </div>
            </div>
        </div>
        <script src="/js/main.bundle.js"></script>
    </body>
</html>